/* banner start here */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* h1 {
    font-size: 0px;
} */

p {
    color: #3E3E3E;
    font-size: 24px;
}

.flexible-container {
    display: flex;
}

.first-half {
    width: 50%;
    margin-top: 120px;
    margin-left: 11%;
}


.article-paragraph {
    margin-bottom: 40px;
}


.stay-focus {
    color: #333333;
    font-family: 'Yeseva One', cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 105px;
    padding-left: 20px;
    margin-bottom: 30px;
    border-left: 5px solid #FF5959;
}

.stay-focus span {
    color: #FFAD5A;
}

.link-btn {
    color: white;
    font-size: 21px;
    text-decoration: none;
    background-color: #FF5959;
    padding: 17px 50px;
    border-radius: 7px;
}

.scroll-down {
    font-size: 21px;
    margin-top: 60px;
}

.second-half {
    width: 50%;
}

.second-half img {
    width: 66%;
}

/* banner end here */